.header{
  margin-bottom: 20%;
  width: 140px;
  margin: 100px auto;
}
.goHome{
  text-decoration: none;
  width: 145px;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  color: rgba(255, 0, 0, 0.945);
  text-shadow: 
  -0   -1px 0   #000000,
   0   -1px 0   #000000,
  -0    1px 0   #000000,
   0    1px 0   #000000,
  -1px -0   0   #000000,
   1px -0   0   #000000,
  -1px  0   0   #000000,
   1px  0   0   #000000,
  -1px -1px 0   #000000,
   1px -1px 0   #000000,
  -1px  1px 0   #000000,
   1px  1px 0   #000000,
  -1px -1px 0   #000000,
   1px -1px 0   #000000,
  -1px  1px 0   #000000,
   1px  1px 0   #000000;
}
a {
  text-decoration: none;
 }

 .rainbow {
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  line-height: 40px;
}
.rainbowanimated {
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow 5s ease infinite;
    animation: rainbow 5s ease infinite;
    font-size: 30px;
    line-height: 25px;
}
 
@-webkit-keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
 
@keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}