.sort {
  position: relative;
}
.sort__label{
    display: flex;
    align-items: center;
}

svg {
  margin-right: 8px;
}

b {
  margin-right: 8px;
}

.item {
   color: #fe5f1e;
   border-bottom: 1px dashed  #fe5f1e;
   cursor: pointer;
}

.sort__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
}

ul {
  overflow: hidden;
}
.popup__item {
  padding: 12px 20px;
  cursor: pointer;
}
.popup__item.active,
.popup__item:hover {
  background: rgba(254, 95, 30, 0.05);
  }

.popup__item.active {
  font-weight: bold;
  color: #fe5f1e;
}