.bottom__cover {
    background-color: rgba(14, 5, 6, 0.534);

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    width: 100%;
  }